  @media (min-width:1000px)
{
                    #grid
        {
            border: 3px solid cadetblue;
            display: grid;
            grid-template-columns: 5fr 1fr
        }
}
            article {padding:20px}
            nav {border: 3px solid grey}
            body {background-color: mintcream}
            h1 {background-color: cadetblue; color: white; text-align: center; font-size:50px}
            h2 {background-color: cadetblue; text-align: center; color:white; font-size: 32px; margin-bottom:0}
            h3 {color:slateblue; font-size: 30px}
            h4 {color:slateblue; font-size: 25px}